<?php
/**
 * Get form action URL for POST booking request
 *
 * @var $block Hello\HelloWorld\Block\Config
 */
?>
<h3>Module Status: <?= 'enable' ?></h3>
<h3>Page Title: <?= $block->getTitle(); ?></h3>
<h3>Page Description: <?= $block->getDescription(); ?></h3>

