<?php
/**
 * Get form action URL for POST booking request
 *
 * @var $block Hello\HelloWorld\Block\Page
 */
?>
<h3>Information Customer</h3>
<div>Name: <?= $block->getName(); ?></div>
<div>Date of birth: <?= $block->getDob(); ?></div>
<div>Address: <?= $block->getAddress(); ?></div>
<div>Description: SV4th Cryptography of Technique Academy</div>


