@charset "utf-8";
/* CSS Document */

body {
font-family: Arial, sans-serif;
background-color: #cecece;
}

a {
color: #00bd00;
}

* {
box-sizing: border-box;
}

.login {
width: 500px;
padding: 16px;
margin: 0 auto;
background-color: white;
}


input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}
.button {
background-color: #0900bd;
color: white;
padding: 15px 18px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}
.button:hover {
opacity: 5;
}

	